<mat-card class="container">
    <form action="">
        <mat-form-field>
            <input required type="text" matInput placeholder="Nome" [(ngModel)]="productFromBack.name" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input required="true" type="text" matInput placeholder="Preço" [(ngModel)]="productFromBack.price" name="preco">
        </mat-form-field>
    </form>
    <button class="btn-material" mat-raised-button color="primary" style="cursor: pointer;" (click)="saveDeleteProduct()">Excluir</button>
    <button class="btn-material" mat-button color="primary" style="cursor: pointer;" (click)="cancelExclusionProduct()">Cancel</button>
</mat-card>