.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #424242;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 100px;
    max-width: 200px;
}

.header .title-group{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}