/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgba(224, 24, 24, 0.45)}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red-color-font{
    color: rgb(216, 39, 68)
}

.black-color-font{
    color: black;
}

.background-white{
    background-color: #fff;
}

.v-middle{
    vertical-align: middle;
}
