/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #fff; color:red}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mat-drawer-container {
    background-color: #424242;
    color: #fff;
}

p{
    color: #424242;
}

.red-color{
    color: #d72845
}

.white-color{
    color: #fff
}

.black-color{
    color: rgba(0, 0, 0, 0.722);
}

.pink-color{
    color:#c2185b
}

.background{
    background-color: #424242;
}

.v-middle{
    vertical-align: middle;
}

.msg-sucess {
    background-color: #28a745;
    color: #fff;
}
.msg-error {
    background-color:rgba(255, 0, 0, 0.812);
    color: #fff;
}