<mat-card class="container">
    <mat-card-title>Novo produto</mat-card-title>
    <form action="">
        <mat-form-field>
            <input required type="text" matInput placeholder="Nome" [(ngModel)]="produtos.name" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input required="true" type="text" matInput placeholder="Preço" [(ngModel)]="produtos.price" name="preco">
        </mat-form-field>
    </form>
    <button class="btn-material" mat-raised-button color="primary" style="cursor: pointer;" (click)="createProduct()">Salvar</button>
    <button class="btn-material" mat-button color="primary" style="cursor: pointer;" (click)="cancelProduct()">Cancel</button>
</mat-card>
